.footer {
  position: relative;
  top: 1600px;
}

.footer_container {
  display: grid;
  grid-template-columns: 450px 150px 150px 188px;
  grid-template-rows: repeat(6);
  justify-content: center;
  grid-auto-columns: 150px;
  grid-auto-rows: 50px;
  grid-column-gap: 100px;
}

.item {
  /* padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black; */
}

.footer_item1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.footer_item2 {
  grid-column-start: 2;
  grid-row-start: 1;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.footer_item3 {
  grid-column-start: 3;
  grid-row-start: 1;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.footer_item4 {
  grid-column-start: 4;
  grid-row-start: 1;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.footer_item5 {
  grid-column-start: 1;
  grid-row-start: 2;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item6 {
  grid-column-start: 2;
  grid-row-start: 2;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item7 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item8 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item9 {
  grid-column-start: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item10 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item11 {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  /* identical to box height, or 157% */

  color: #1d1f2e;
}
.footer_item12 {
  grid-column-start: 2;
  grid-row-start: 4;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item13 {
  grid-column-start: 3;
  grid-row-start: 4;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item14 {
  grid-column-start: 2;
  grid-row-start: 5;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item15 {
  grid-column-start: 3;
  grid-row-start: 5;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item16 {
  grid-row-start: 6;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: rgba(29, 31, 46, 0.3);
}
.footer_item17 {
  grid-column-start: 2;
  grid-row-start: 6;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  color: rgba(29, 31, 46, 0.7);
}
.footer_item18 {
  grid-column-start: 4;
  grid-row-start: 6;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: rgba(29, 31, 46, 0.3);
}
