body {
  width: 1440px;
  height: 6338px;

  font-family: "Karla";
  font-style: normal;
}

.header {
  position: absolute;
  height: 80px;
  left: 17.36%;
  right: 17.36%;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coffeeStyle {
  height: 24px;
  padding: 5px;
}

.home {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.products {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.blog {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.about {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.contact {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.styleGuide {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.round {
  position: relative;
  height: 18px;
  width: 18px;
  margin: 5px;
  background: #1d1f2e;
  border-radius: 9px;
}

.paket {
  margin: 5px;
}
.cartButton {
  margin: 5px;
}
.count {
  text-align: center;
  color: white;
}

.line {
  position: absolute;
  height: 2px;
  width: 100px;
  top: 35px;
  background: rgba(162, 95, 75, 0.3);
  border-radius: 0px;
}
