.main {
  position: relative;
  top: 80px;
  left: 255px;
  width: 1380px;
  height: 530px;
}
.background {
  position: absolute;
  width: 1380px;
  height: 530px;
  background: #050827;
  z-index: -5;
}
.mug_back {
  position: absolute;
  z-index: -3;
  left: 220px;
}
.main_text {
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_text1 {
  position: absolute;
  width: 215px;
  height: 18px;
  bottom: 353px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.main_text2 {
  position: absolute;
  width: 267px;
  height: 60px;
  bottom: 283px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.main_text3 {
  position: absolute;
  width: 793px;
  height: 30px;
  bottom: 243px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  text-align: center;
  color: #ffffff;
}
.main_text4 {
  position: absolute;
  width: 183px;
  height: 18px;
  bottom: 177px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
