.main {
  position: relative;
  top: 80px;
  left: 255px;
  width: 1380px;
  height: 530px;
}
.background {
  position: absolute;
  width: 1380px;
  height: 530px;
  background: #050827;
  z-index: -5;
}
.mug_back {
  position: absolute;
  z-index: -3;
  left: 220px;
}
.main_text {
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_text1 {
  position: absolute;
  width: 215px;
  height: 18px;
  bottom: 353px;
}
.main_text2 {
  position: absolute;
  width: 267px;
  height: 60px;
  bottom: 283px;
}
.main_text3 {
  position: absolute;
  width: 793px;
  height: 30px;
  bottom: 243px;
}
.main_text4 {
  position: absolute;
  width: 183px;
  height: 18px;
  bottom: 177px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
}
