.moreProducts {
  position: relative;
  top: 800px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.moreProducts_header {
  display: flex;
  align-items: center;

  margin-bottom: 100px;
}
.moreProducts_line1 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-right: 15px;
}
.mp_head {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.moreProducts_line2 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-left: 15px;
}
.products1 {
  text-align: center;
  display: flex;
  flex-direction: row;

  margin-bottom: 65px;
}
.products2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 65px;
}
.products3 {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.product_1 {
  margin-right: 17px;
}
.product_2 {
  margin-right: 17px;
}
.product_4 {
  margin-right: 17px;
}
.product_5 {
  margin-right: 17px;
}
.product_7 {
  margin-right: 17px;
}
.product_8 {
  margin-right: 17px;
}
