.premiumOffer {
  position: relative;
  top: 1065px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.premOffer_head {
  display: flex;
  align-items: center;

  margin-bottom: 100px;
}
.premOffer_line1 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-right: 15px;
}
.premOffer_header {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.premOffer_line2 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-left: 15px;
}

.premOffer_main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.premOffer_images {
  display: flex;
  flex-direction: row;

  margin-right: 80px;
}
.premOffer_block_image1 {
  margin-right: 20px;
}
.premOffer_image1 {
  margin-bottom: 15px;
}

.premOffer_text {
  text-align: left;
}
.premOffer_text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.premOffer_text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */

  color: #1d1f2e;

  max-width: 237px;

  margin-top: 14px;
}
.premOffer_text3 {
  max-width: 353px;
  margin-top: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: rgba(29, 31, 46, 0.7);
}
.premOffer_button {
  width: 173px;
  height: 36px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  background: #1d1f2e;
  border-radius: 0px;
}
.photo {
  margin-top: 130px;
  max-width: 1440px;
}
