.stories {
  position: relative;
  top: 1200px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.stories_head {
  display: flex;
  align-items: center;
}
.stories_line1 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-right: 15px;
}
.stories_header {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
.stories_line2 {
  width: 30px;
  height: 1px;
  background: #ececed;

  margin-left: 15px;
}
.stories_main {
  display: flex;
  flex-direction: row;

  margin-top: 100px;
}
.stories_1 {
  text-align: left;
  max-width: 300px;
  margin-right: 20px;
}
.stories_2 {
  text-align: left;
  max-width: 300px;
  margin-right: 20px;
}
.stories_3 {
  text-align: left;
  max-width: 300px;
}
.stories_text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  color: #1d1f2e;
}
.stories_text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: rgba(29, 31, 46, 0.7);
}
.stories_text3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
}
